project_id          = "learning-gke-498507"
region              = "africa-south1"
zones               = ["africa-south1-a", "africa-south1-b", "africa-south1-c"]
name                = "platform"
github_org          = "YOUR_GITHUB_ORG"
github_repo         = "Project02"
github_manifest_repo = "Project02-manifests"
db_tier             = "db-custom-2-7680"
node_machine_type   = "e2-standard-4"
